    body {
      display: flex;
      justify-content: space-around;
      font-family: "M PLUS Rounded 1c", sans-serif;
      font-style: normal;
      
    }

    .column {
      width: 40%;
      padding: 1em;
      box-sizing: border-box;
    }

    .red-circle {
      position: absolute;
      top: -50px;
      left: -50px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: red;
    }

    p {
      margin-bottom: 1.5em;
      text-indent: 2em;
      line-height: 1.5;
    }

    h1 {
      margin-top: 0;
    }
